@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monsieur+La+Doulaise&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer utilities {
  .debug {
    border: 2px solid red;
  }
  .debug2 {
    border: 2px solid blue;
  }
  .debug3 {
    border: 2px solid green;
  }
  .debug4 {
    border: 2px solid yellow;
  }
}

@theme {
  --color-test: #7f6aff;
  --font-roboto: "Roboto", "sans";
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --cupcake;
}
